loki.write "lab" {
  endpoint {
    url = "http://{{ hostvars[groups['monitoring'][0]]['ansible_host'] }}:3100/loki/api/v1/push"
  }
}

loki.source.journal "system" {
  forward_to    = [loki.write.lab.receiver]
  max_age       = "1h"
  relabel_rules = loki.relabel.journal.rules

  labels = {
    host = "{{ inventory_hostname }}",
    job  = "systemd-journal",
  }
}

loki.relabel "journal" {
  forward_to = []

  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "service"
  }
}
